html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
.main{
	padding-top: 30px;
	padding-left:  100px;
	color : green ;
}


.main-heading{
	background-image: url(img/bg1.jpg);
	background-repeat: round;
	background-attachment: fixed;
	height : 20vh; width: 100%;
}

