html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
.main{
    padding-top: 30px;
    padding-left:  100px;
    color : green ;
}


.main-heading{
    background-image: url(img/bg1.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    height : 40vh; width: 100%;
}

.header-divs {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.beta-home-button {
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px 64px;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 16px 2px transparent;
}
.footer-social-icons {
    position: absolute;
    margin-left: 3%;
    margin-top: 6%;
}

.beta-home-social-list-side {
    margin-bottom: 6px;
}
@media only screen and (max-width: 550px){
.beta-home-button {
    font-size: 17px;
    padding: 3px 21px;
    margin-left: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
}


div{
    display: block;
}

@media only screen and (max-width: 550px){
.buttons {
    margin-left: 10px;
}
}

.first-line {
    font-size: 6vw;
    font-weight: 300;
    
}

@media only screen and (max-width: 550px){
.first-line {
    
    font-size: 6vw;
}
}

@media only screen and (max-width: 550px){
.second-line {
    
    font-size: 6vw;
    color: black;
}
}

.second-line {
    
    font-size: 6vw;
    font-weight: 300;
   
    color: black;
}


.navbar-default {
    border-color: transparent;
    background-color: beige;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: maroon;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: beige;
}

.navbar-default .navbar-toggle {
    border-color: maroon;
    background-color: maroon;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: maroon;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: maroon;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: beige;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}
